[submodule "takeover.sh"]
	path = takeover.sh
	url = https://github.com/marcan/takeover.sh
[submodule "grub-mender-grubenv"]
	path = grub-mender-grubenv
	url = https://github.com/mendersoftware/grub-mender-grubenv
